@import "catppuccin-mocha"

configuration {

  font: "Inter 14";
  modi: "window,drun,emoji";
  show-icons: true;
  icon-theme: "Tela-purple-dark";
  drun-display-format: "{icon} {name}";
  location: 0;
  disable-history: false;
  hide-scrollbar: false;
  display-drun: "";

}
