@import "theme/catppuccin-mocha"

configuration {

  font: "Firacode Nerd Font 12";
  modi: "window,drun,emoji";
  show-icons: true;
  icon-theme: "Tela-purple-dark";
  drun-display-format: "{icon} {name}";
  location: 0;
  disable-history: false;
  hide-scrollbar: false;
  display-drun: "App ";
  display-emoji: "Emoji ";

}
