/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #282A36;
    background-alt: #44475A;
    foreground:     #F8F8F2;
    selected:       #6272A4;
    active:         #BD93F9;
    urgent:         #FF79C6;
}
